<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bodyfacts</title>
    <style>
        body{
    background-image: url('./assets/images/pic14.jpg');
    background-size:cover;  
    height: 110vh;  
}
    </style>
</head>
<body>
    <table class="one" border="1">
        <thead><h1>BodyFacts</h1></thead>
        <tbody>
            <tr>
                <td> <strong>Height </strong></td>
                    <td><strong>in feet inches – 5’8″</strong><br>
                        in centimeters – <strong>173 cm</strong><br>
                        in meters – <strong>1.73 m</strong></td>
            </tr><br>
            <tr>
                <td> <strong>Weight </strong></td>
                <td>in Kilograms – <strong>70 kg</strong><br>
                    in Pounds – <strong>154 lbs</strong></td>
            </tr><br>
            <tr>
                <td> <strong>Hair Color</strong></td>
                <td>Dark Brown</td>
            </tr><br>
            <tr>
                <td> <strong>Eye Color </strong></td>
                <td>Black</td>
            </tr><br>
            <tr>
                <td> <strong>Tatto</strong></td>
                <td>Not Known</td>
            </tr><br>
            <tr>
                <td> <strong>Shoe Size </strong></td>
                <td>8 (US)</td>
            </tr>
        </tbody>        
    </table>
</body>
</html>
