<div class="row">
    <div class="col-sm-6">Details
                <div class="card-body">
                    Name: Ram Potheneni <br>
                    Profession: Actor <br>
                    Film industry: Tollywood <br>
                    House Address: Hyderabad, Telangana, India.
                </div>                                    
      </div>
    <div class="col-sm-6">Follow on
        <div class="card-body">
            <img src="./assets/images/instalogo.jpg" alt="no img" width="30px">
            <img src="./assets/images/fblogo.jpg" alt="no img" width="30px">
            <img src="./assets/images/twitterlogo.jpg" alt="no img" width="30px">
            <img src="./assets/images/youtubelogo.jpg" alt="no img" width="30px">
            
        </div> 
        
    </div>
</div>
