<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personalinfo</title>
    <style>
        body{
    background-image: url('./assets/images/pic2.jpg');
    background-size: cover;
    height: 110vh;
   
}
    </style>
</head>
<body>
    <div>
        <table  class="one" border="1">
            <thead><h1>Personal Information</h1></thead>
            <tbody>
                <tr>
                    <td> <strong>Real Name </strong></td>
                    <td>Ram Potheneni</td>
                </tr>
                <tr>
                    <td> <strong>Nickname </strong></td>
                    <td>Ram (Energetic Star)</td>
                </tr>
                <tr>
                    <td> <strong>Known for </strong></td>
                    <td>For films like Devadasu, iSmart Shankar and Hyper</td>
                </tr>
                <tr>
                    <td> <strong>Profession </strong></td>
                    <td>Actor, Model and Dancer</td>
                </tr>
                <tr>
                    <td> <strong>Date of Birth </strong></td>
                    <td>15 May, 1988</td>
                </tr>
                <tr>
                    <td> <strong>Age </strong>(as 2021)</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td> <strong>Zoadic sign </strong></td>
                    <td>Taurus</td>
                </tr>
                <tr>
                    <td> <strong>Birth Place </strong></td>
                    <td>Hyderabad, Telangana, India</td>
                </tr>
                <tr>
                    <td> <strong>Current city </strong>/Address</td>
                    <td>Hyderabad, India</td>
                </tr>
                <tr>
                    <td> <strong>Home Town </strong></td>
                    <td>Hyderabad, India</td>
                </tr>
                <tr>
                    <td> <strong>School </strong></td>
                    <td>Siddhartha Public School and Vijaywada Chettinad Vidyashram, Chennai.</td>
                </tr>
                <tr>
                    <td> <strong>College </strong></td>
                    <td>Chennai University</td>
                </tr>
                <tr>
                    <td> <strong>Education Qualifications </strong></td>
                    <td>Graduation</td>
                </tr>
                <tr>
                    <td> <strong>Nationality </strong></td>
                    <td>Indian</td>
                </tr>
                <tr>
                    <td> <strong>Religion </strong></td>
                    <td>Hindu</td>
                </tr>
                <tr>
                    <td> <strong>Hobbies </strong></td>
                    <td>Modeling, Listening Music & Travelling</td>
                </tr>
            </tbody>
        </table><br>
    </div>
    
</body>
</html>
