<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favouritethings</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-5">
           <img src="./assets/images/pic5.jpg" alt="no img" height="540px" width="500px">
        </div>
        <div class="col-sm-7">
      
    <table class="one" border="1">
        <thead><h1>FavouriteThings</h1></thead>
        <tbody>
            <tr>
                <td> <strong>Favourite Actor</strong></td>
                <td>Rajnikanth, Prabhas and Allu Arjun</td>
            </tr>
            <tr>
                <td> <strong>Favourite Actress</strong></td>
                <td>Shridevi and Keerthy Suresh</td>
            </tr>
            <tr>
                <td> <strong>Favourite Film</strong></td>
                <td>Simhadri and Kalisundam Raa</td>
            </tr>
            <tr>
                <td> <strong>Favourite Director's</strong></td>
                <td>not known</td>
            </tr>
            <tr>
                <td> <strong>Favourite Food</strong></td>
                <td>Chicken Biryani, Hyderabadi Tandoori</td>
            </tr>
            <tr>
                <td> <strong>Favourite Color</strong></td>
                <td>White, Aqua Blue and Black</td>
            </tr>
            <tr>
                <td> <strong>Favourite Brand</strong></td>
                <td>Levi’s, Gap and Louis Vuitton</td>
            </tr>
            <tr>
                <td> <strong>Favourite Destination</strong></td>
                <td>New York, Chicago, Paris and London</td>
            </tr>               
        </tbody>
    </table> 
    </div>
    </div>
</body>
</html>
