<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family</title>
</head>
<body>
    <figure>
        <img src="./assets/images/familypic.jpg" alt="no img" title="family"> 
        <figcaption><b>Ram-Pothineni-with-family</b></figcaption>
        </figure>
        <p>Pothineni was born to a<strong> Hindu family</strong> in Hyderabad, India. His <strong>Father</strong> 
            name is <strong>Murali Mohan Pothineni</strong> and <strong>Mother </strong>name is <strong>Padamshree Pothineni</strong>.
             Ram has an elder sister and elder brother.<strong>Madhu Smitha Pothineni and Krishna Chaitanya Pothineni </strong>. He is very close to his sister who is married to
              <strong>Kalyan</strong>. <strong>Sravanthi Ravi Kishore</strong>  is his uncle who is a <strong>famous film producer </strong>in South film industry.</p> 
</body>
</html>
