<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <div class="card-deck">
        <div class="card-body">
            <img src="./assets/images/Adayalam.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Devadasu.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Jagadam.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Ready.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Maska.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Ganesh.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/RamaRamaKrishnaKrishna.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Kandireega.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/EndukantePremanta.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/OngoleGitta.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Masala.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Pandagachesuko.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Shivam.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/NenuSailaja.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Hyper.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/VunnadhiOkateZindagi.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Hellogurupremakosame.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/iSmart Shankar.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
        <div class="card-body">
            <img src="./assets/images/Red.jpg" alt="no img" height="300px;" width="300px">                     
        </div>
    </div>
    
    
    
</body>
</html>
