<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards</title>
    <style>
        body{
    background-image: url('./assets/images/awards1.jpg');
    background-repeat:no-repeat;   
}
    </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-8">     
    <table class="one" border="1">
        <strong><thead>Awards&Nominations</thead></strong>
        <tbody>
            <tr>
                <td><strong>Year</strong></td>
                <td><strong>Award</strong></td>
                <td><strong>Category</strong></td>
                <td><strong>Film</strong></td>
                <td><strong>Result</strong></td>
            </tr>
            <tr>
                <td>2002</td>
                <td>Europe Film Festival, 
                    <br>Switzerland</td>
                <td>Best Actor</td>
                <td>Adayaalam</td>
                <td>Won</td>
            </tr>
            <tr>
                <td>2007</td>
                <td>Filmfare Awards South</td>
                <td>Best Male Debut</td>
                <td>Devadasu</td>
                <td>Won</td>
            </tr>
            <tr>
                <td>2008</td>
                <td>Filmfare Awards South</td>
                <td>Best Actor Telugu</td>
                <td>Ready</td>
                <td>Nominated</td>
            </tr>
            <tr>
                <td>2011</td>
                <td>Filmfare Awards South</td>
                <td>Best Actor Telugu</td>
                <td>Kandireega</td>
                <td>Nominated</td>
            </tr>
            <tr>
                <td>2015</td>
                <td>Zee Telugu 10 Years 
                    <br>Award</td>
                <td>Heart-Throb of the Decade</td>
                <td></td>
                <td>Won</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>Zee Cine Awards 
                    <br>Telugu</td>
                <td>Sensational Star of the
                    <br> Year</td>
                <td>iSmartShanker</td>
                <td>Won</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>Zee Cine Awards 
                    <br>Telugu</td>
                <td>Best Actor</td>
                <td>iSmartShanker</td>
                <td>Nominated</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="col-sm-4">
        <img src="./assets/images/ramaward1.jpg" alt="no img" height="700px">
    </div>
    </div>    
</body>
</html>
