<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
    background-image: url('./assets/images/home1.jpg');
    background-size: cover;
    height: 900px;
    
}
    </style>
</head>
<body>
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Ram Potheneni</div>
                <div class="text-3">And I'm a <span>Actor</span>                   
                
                </div>
            </div>
        </div>
    </section>
</body>
</html>
